<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <script src="tag.js"></script>    

  <body ng-app="myTags" ng-cloak ng-controller="myCtrl">

    <div  class="w3-card-4 w3-margin" style="max-width:400px;">
      <header class="w3-container w3-teal w3-padding-16">
        <div><h3>My List </h3><a ng-click="addItem()" class="w3-right w3-btn-floating w3-red" >+</a></div>
      </header>


      <ul class="w3-ul">
        <li ng-repeat="stuff in stuffs" class="w3-padding-hor-16">{{stuff.desc}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">x</span>
          <br><br>
          <button ng-repeat="tag in stuff.tags" id="{{$index}}" class="w3-btn {{tag | myColorActive}} {{tag.shapes}}" ng-click="editItem($index)">{{tag.name}} </button></li>
      </ul>

      <p class="w3-padding-left w3-text-red">{{errortext}}</p>
    </div>
    
  </body>
</html>
